.header-logo{
	height: 32px;
}

.ci-hr{
	width: 150px;
	color: #ffd500;
	border: thin solid #ffd500;
}

.logocolor{
	display:inline-block;
	width:80px;
	padding-bottom:65px;
}

.color-chart{
	display:inline-block;
}

.intro-part{
	text-align:center;
	font-family: 'Nanum Myeongjo', serif;
	font-size:16px;
	padding:0 30px 50px 30px;
}

.intro-title{
	padding-top:100px;
	font-family: 'Nanum Myeongjo', serif;
}

.history-section{
	padding : 120px 120px 100px 120px;
}

.team-history{
	text-align:left;
	float:left;
	padding:0 30px;
}
