.header-logo{
	height: 32px;
}

.ci-hr{
	width: 100px;
	color: #ffd500;
	border: thin solid #ffd500;
}

.logocolor{
	display:inline-block;
	width:80px;
	padding-bottom:65px;
}

.color-chart{
	display:inline-block;
}

.intro-part{
	padding-top : 70px;
	width : 1100px;
}